[Desktop Entry]
Exec=bash -c "curl -fsSL https://raw.githubusercontent.com/TyanColte/Steam-Controller-GyroDSU/main/pkg/install.sh -o /tmp/sc2gyrodsu-install.sh && bash /tmp/sc2gyrodsu-install.sh; rm -f /tmp/sc2gyrodsu-install.sh"
Icon=sc2gyrodsu
Name=SteamControllerGyroDSU
StartupNotify=false
Terminal=true
Type=Application
